/* ANIMATE FOR next level */
#nextLvl span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#nextLvl span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 15px;
    transition: 0.5s;
}

#nextLvl:hover span {
    padding-right: 25px;
}

#nextLvl:hover span:after {
    opacity: 1;
    right: 0;
}

/* ANIMATE FOR previous level */
#preLvl span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#preLvl span:before {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 15px;
    transition: 0.5s;
}

#preLvl:hover span {
    padding-left: 25px;
}

#preLvl:hover span:before {
    opacity: 1;
    left: 0;
}

.text-outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ANIMATE FOR level selection */
.levelSelection span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.levelSelection span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 15px;
    transition: 0.5s;
}

.levelSelection:hover span {
    padding-right: 25px;
}

.levelSelection:hover span:after {
    opacity: 1;
    right: 0;
}

/* ANIMATE FOR home button */
.home span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.home span::before {
    content: '🏠';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 15px;
    transition: 0.5s;
}

.home:hover span {
    padding-left: 25px;
}

.home:hover span::before {
    opacity: 1;
    left: 0;
}

/* ANIMATE FOR play again  */
#playAgain span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#playAgain span::before {
    content: '⭯';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 15px;
    transition: 0.5s;
}

#playAgain:hover span {
    padding-left: 25px;
    padding-right: 25px;
}

#playAgain:hover span:before {
    opacity: 1;
    left: 0;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border-color: #e7e7e7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}