body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .btn{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orange;
    font-size: 20px;
    color: black;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 100px;
  }
  
  #popUpBox{
    width: 500px;
    overflow: hidden;
    background: orange;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
    color: black;
  }

  #closeBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
